.is-invalid{
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,...");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}